- model_class = User
.page-header
  %h1
    Nuevo usuario
= render :partial => "form"

- if @event
  - content_for(:javascript) do
    :plain
      $("input#user_email").change(function(){
        var email = $(this).val();
        $.get(
          "#{query_users_path}", 
          {email: email},
          function(data) {
            if(data.existing) {
              $("#emailfields a").show().attr("href", "/events/#{@event.id}/users/" + data.user_id + "/link").text("Vincular a " + data.name);
            } else {
              $("#emailfields a").hide();
            }
          }
        );
      });
